.container {
  background-color: #1F2BA6;
}

.title {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: -0.36px;
}