@import "../mixins";

.footer {
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 50px;
  padding-bottom: 30px;
  box-shadow:
    0px -6px 10px -4px rgba(0, 0, 0, 0.05),
    0px -2px 3px 0px rgba(0, 0, 0, 0.1);
}

.footerSections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  margin-right: 10%;
  @include for-tablet-only {
    flex-direction: column;
    margin-right: 0%;
  }
}

.newsletterSection {
  max-width: 496px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.newsletterTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  color: #1b1b1b;
}

.newsletterDescription {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #1b1b1b;
}

.newsletterForm {
  display: flex;
  align-items: center;
  gap: 10px;
}

.newsletterInput {
  width: 333px;
  height: 40px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 6px;
  border: 1px solid #1b1b1b;
}

.newsletterSocials {
  display: flex;
  gap: 16px;
}

.footerSectionTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.15px;
  color: #1b1b1b;
}

.footerSectionLinks {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footerLink {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #1b1b1b;
  text-decoration: none;
}

.copyright {
  font-family: "Jost", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  line-height: 20px;
  margin-top: 64px;
  color: #767685;
}
