@import "../mixins";

.bannerWrapper {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 105vw;
  z-index: 2;
  @include for-tablet-only {
    bottom: -25%;
  }
  @include for-phone-only {
    bottom: -35%;
  }
}

.container {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%) rotate(2.222deg);
  overflow: hidden;
  width: 105vw;
  border: 1px solid #000;
  background-color: white;
}

.containerBlack {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%) rotate(-4.362deg);
  margin-top: -60px;
  overflow: hidden;
  width: 105vw;
  background-color: black;
}

.scrollingContent {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 24px 0;
  white-space: nowrap;
  @include for-tablet-only {
    padding: 16px 0px;
  }
}

.text {
  color: #000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.32px;
  @include for-tablet-only {
    font-size: 18px;
  }
}

.icon {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  @include for-tablet-only {
    width: 24px;
    height: 24px;
  }
}
