.why {
    background-color: #F5FAFB;
    padding-top: 100px;
    padding-left: 180px;
    padding-right: 180px;
}

.why__title {
    font-family: Montserrat;
    font-size: 57px;
    font-weight: 600;
}

.why__cards {
    display: flex;
    gap: 22px;
    margin-top: 24px;
}

.why__card {
    background-color: #DFE0FF;
    border-radius: 8px;
    padding: 28px 20px;
    color: #0E154B;
    flex: 1;
}

.why__cardicon {
    display: flex;
    justify-content: center;
}

.why__carddescription {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}

.why__carddescription-with-footer {
    margin-top: 8px;
}

.why__cardfooter {
    font-family: Helvetica;
    font-size: 11px;
    font-weight: 400;
    margin-top: 20px;
}

.why__img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 65px;
    border-radius: 8px;
}

@media screen and (max-width: 812px) {
    .why__cards {
        flex-direction: column;
    }
    .why__img {
        margin-top: 24px;
    }
}

@media screen and (max-width: 1350px) {
    .why {
        padding-left: 40px;
        padding-right: 40px;
    }
    .why__title {
        font-size: 40px;
    }
}