@import "../mixins";

.main {
    height: 100vh;
    background-color: #FFF;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    @include for-tablet-only {
        height: 90vh;
        padding-left: 5%;
        padding-right: 5%;
    }
}

.mainText {
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.56px;
    text-align: center;
    @include for-tablet-only {
        font-size: 28px;
    }
}

.socialsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
    flex: 1;
}

.socialText {
    text-align: center;
    font-feature-settings: 'calt' off;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.32px;
    color: #717D96;
    @include for-tablet-only {
        font-size: 18px;
    }
}

.socialLinksContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}