.container {
  padding-left: 7%;
  padding-right: 7%;
  margin-bottom: 242px;
  margin-top: 50px;
}

.mainTitle {
  color: #1B1B1B;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.mainSection {
  margin-top: 40px;
  color: #1B1B1B;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.mainSubtitle {
  color: #1B1B1B;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.mainLink {
  color: #1B1B1B;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: underline;
}

.mainList {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 24px;
  list-style-type: disc;
}