/* Section principale du footer */
footer {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.30);
    padding: 52px 108px
}

/* Organisation en colonne sur mobile */
.footer__sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
}

/* Section gauche (bouton & réseaux) */
.footer__left h3 {
    color: #000;
    margin-bottom: 16px;
    max-width: 500px;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 125% */
}

/* Bouton adapté aux mobiles */
.footer__button {
    margin-top: 24px;
    background-color: #1F2BA6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 16px;
    width: 100%;
    max-width: 250px;
}

/* Alignement des icônes sociales */
.footer__social {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.footer__social-link {
    color: #666;
    font-size: 20px;
    text-decoration: none;
}

/* Sections centrales */
.footer__center h4,
.footer__right h4 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin: 12 0;
}

/* Ajustement des liens */
.footer__link {
    text-decoration: none;
    color: #666;
    font-size: 14px;
    line-height: 1.6;
}

/* Copyright */
.footer__copyright {
    color: #666;
    font-size: 12px;
    padding-top: 15px;
    border-top: 1px solid #eee;
    width: 100%;
    text-align: left;
}

/* Responsive Tablette */
@media screen and (min-width: 768px) {
    .footer__sections {
        flex-direction: row;
        text-align: left;
        align-items: start;
    }

    /* Sections centrales */
    .footer__center h4,
    .footer__right h4 {
        margin-bottom: 12px;
        margin-top: 0px;
    }

    .footer__button {
        width: auto;
    }

    .footer__social {
        justify-content: flex-start;
    }
}
