.banner-container {
  position: relative;
  width: 103.5vw;
  overflow: hidden;
  height: 4vw;
  margin-left: -4.5vw;
  margin-top: -4vw;
  z-index: 3;
}

.banner-content {
  display: flex;
  align-items: center;
  gap: 32px; /* Ajustez l'écart entre les éléments selon vos besoins */
  padding: 20px 0; /* Ajustez le padding selon vos besoins */
  white-space: nowrap;
}

.banner-text {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px; /* Ajustez la taille de la police selon vos besoins */
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.32px;
}

.icon {
  flex-shrink: 0;
  width: 32px; /* Ajustez la taille de l'icône selon vos besoins */
  height: 32px; /* Ajustez la taille de l'icône selon vos besoins */
  fill: currentColor; /* Utilisez currentColor pour hériter de la couleur du texte */
}

/* Media queries pour la responsivité */
@media (max-width: 1200px) {
  .banner-container {
    height: 6vw; /* Ajustez la hauteur de la bande pour les écrans plus petits */
  }

  .banner-text {
    font-size: 28px; /* Ajustez la taille de la police pour les écrans plus petits */
  }

  .icon {
    width: 28px; /* Ajustez la taille de l'icône pour les écrans plus petits */
    height: 28px; /* Ajustez la taille de l'icône pour les écrans plus petits */
  }
}

@media (max-width: 768px) {
  .banner-container {
    height: 8vw; /* Ajustez la hauteur de la bande pour les écrans plus petits */
  }

  .banner-text {
    font-size: 24px; /* Ajustez la taille de la police pour les écrans plus petits */
  }

  .icon {
    width: 24px; /* Ajustez la taille de l'icône pour les écrans plus petits */
    height: 24px; /* Ajustez la taille de l'icône pour les écrans plus petits */
  }
}

@media (max-width: 480px) {
  .banner-container {
    height: 8vw; /* Ajustez la hauteur de la bande pour les écrans plus petits */
  }

  .banner-text {
    font-size: 15px; /* Ajustez la taille de la police pour les écrans plus petits */
  }

  .icon {
    width: 15px; /* Ajustez la taille de l'icône pour les écrans plus petits */
    height: 15px; /* Ajustez la taille de l'icône pour les écrans plus petits */
  }
}
