.bluebutton  {
    text-decoration: none;
    font-family: Montserrat;
    background: #545A92;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #F5FAFB;
    padding: 10px 24px;
}